################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QFeedMill/FileContentIndex
/.vs/QFeedMill/DesignTimeBuild
/.vs/QFeedMill/v17
/bin/Debug/net8.0/QFeedMill.dll
/bin/Debug/net8.0/QFeedMill.exe
/bin/Debug/net8.0/QFeedMill.pdb
/bin/Debug/net8.0/QFeedMill.staticwebassets.runtime.json
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/refint/QFeedMill.dll
/obj/Debug/net8.0/QFeedMill.AssemblyInfo.cs
/obj/Debug/net8.0/QFeedMill.AssemblyInfoInputs.cache
/obj/Debug/net8.0/QFeedMill.assets.cache
/obj/Debug/net8.0/QFeedMill.csproj.AssemblyReference.cache
/obj/Debug/net8.0/QFeedMill.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/QFeedMill.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/QFeedMill.dll
/obj/Debug/net8.0/QFeedMill.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/QFeedMill.genruntimeconfig.cache
/obj/Debug/net8.0/QFeedMill.pdb
/obj/Debug/net8.0/QFeedMill.sourcelink.json
/obj/Debug/net8.0/staticwebassets.build.json
/obj/Debug/net8.0/staticwebassets.development.json
/obj/Debug/net8.0/staticwebassets.pack.json
/obj/project.assets.json
/obj/project.nuget.cache
/obj/QFeedMill.csproj.nuget.dgspec.json
/obj/QFeedMill.csproj.nuget.g.props
