 @* banner section
    <div class="container-fluid mb-3">
        <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="4000">
                            <img src="/Feeds/Poultry Feedmill.jpg" class="d-block w-100" height="680vh" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="mb-4">Poultry Sotrage Room</h5>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img src="/Feeds/Aquaticfeedmill.jpg" class="d-block w-100" height="680vh" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Aquatic Storage Room</h5>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img src="/Feeds/feedmil4.jpg" class="d-block w-100" height="680vh" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Feed Pellete Machine</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    *@

       @*  animated css *@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
      integrity="sha512-doJrC /ocU8VGVRx3O9981+2aYUn3fuWVWvqLi1U+tA2MWVzsw+NVKq1PrEN F03M+TYBP92PnYUlXFH1ZW0FpLw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

      <style>
          body{
        background-image: url(../Image/feedprodution.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
          }
      </style>

@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <div class="row mt-5">
        <h2 class="text-center text-white"> Qista FeedMill</h2>
        <p class="text-center text-white">
            Welcome to Qista Feedmill Company! We are delighted to have you join us as we continue our mission of providing high-quality,
            sustainable animal feed to support the agricultural and livestock industries.
            Your trust and partnership are key to our success, and we look forward to growing together, setting new standards in the feed industry.
            Thank you for being a part of this journey with us!
        </p>
        </div>
        </div>

        <div class="col-md-12 mt-5">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img src="/Image/Poultry Feedmill.jpg" class="d-block w-100" height="300vh" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="mt-3">Production Section </h5>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="/Image/Aquaticfeedmill.jpg" class="d-block w-100" height="300vh" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="mt-5"> Cooling and Bagging Section</h5>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="/Image/Feedroom.jpg" class="d-block w-100" height="300vh" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                            <h5 class="mt-4">Storage Section</h5>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-md-12 ">
        <div class="card-body row mx-auto ">
            <!-- Button: Start Feed Process -->
            <a href="@Url.Action("Visual", "Home")" class="btn btn-success rounded-3">Click to Start Feed Process</a>
        </div>
    </div>
</div>


       







