 @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h5 class="display-4">Q.Tech FeeddMill </h5>
    <p>
           Welcome to the Feedmill Q.Tech App! Your all-in-one solution for managing and optimizing feed production.
           Whether you're tracking inventory, streamlining production processes, or monitoring feed quality,
           we've got you covered. Let's make feed management efficient and hassle-free!
      </p>
    
    </div>

  