@using QFeedmill.Shared.Models.Dto.Feed;
@model CreateFeedDto
@{
    ViewData["Title"] = "Create Feed";
}


<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center">Create Feed</h2>

        <form asp-controller="Feed" asp-action="CreateFeed">

            <div class="mb-3">
                <label class="form-label">Phase</label>
                <select class="form-control" name="Phase">
                    <option value="1">Starter</option>
                    <option value="2">Grower</option>
                    <option value="3">Finisher</option>
                </select>
            </div>
            <div>
                <label class="form-label">FeedCategoryId</label>
                <select name="FeedCategoryId" class="form-select" asp-items="@(ViewData["selectFeedCategories"] as IEnumerable<SelectListItem>)" required>
                    <option value="">Select Feed Category</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Kilogram</label>
                <input type="text" class="form-control" name="Kilogram" placeholder="Kg" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Quantity</label>
                <input type="text" class="form-control" name="Quantity" placeholder="Quantity" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Price</label>
                <input type="number" class="form-control" name="Price" placeholder="Price"  required>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-success">Create</button>
            </div>

        </form>
    </div>
</div>