@using QFeedMill.Models.Dto.Feed;
@model FeedDto;
@{
	ViewData["Title"] = "Edit Feed"; 
	var id = Context?.GetRouteValue("Id").ToString();
}

<div class="row">
	<div class="col-md-8 mx-auto rounded border p-3">
		<h2 class="text-center">Update Feed</h2>

		<form asp-controller="Feed" method="post" enctype="multipart/form-data" asp-action="CreateFeed">

			<div class="mb-3">
				<label class="form-label">Phase</label>
				<select class="form-control" name="Phase">
					<option value="text">Starter</option>
					<option value="text">Grower</option>
					<option value="text">Finisher</option>
				</select>
			</div>
			<div>
				<label class="form-label">FeedCategoryId</label>
				@* <select>
					<option value="Layer">text</option>
					<option value="Cockerel">text</option>
					<option value="Broiler">text</option>
					<option value="Noiler">text</option>
				</select>
			</div> *@
			<div class="mb-3">
				<label class="form-label">Kilogram</label>
				<input type="text" class="form-control" name="Kilogram" placeholder="Kg" required>
			</div>

			<div class="mb-3">
				<label class="form-label">Quantity</label>
				<input type="text" class="form-control" name="Quantity" placeholder="Quantity" required>
			</div>

			<div class="mb-3">
				<label class="form-label">Price</label>
				<input type="number" class="form-control" name="Price" placeholder="Price" required>
			</div>

			<div class="row">
				<button type="submit" class="btn border btn-success">Success</button>
			</div>

		</form>
	</div>
</div>